In [1]:
import pandas as pd
import numpy as np # linear algebra
#import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#!pip install ccxt seaborn pandas-datareader yfinance yahoofinancials
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_datareader as web
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
from datetime import datetime, timedelta, date, time
import os
import yfinance as yf
import datetime as dt

Collecting ccxt
  Downloading ccxt-3.1.2-py2.py3-none-any.whl (3.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 39.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: seaborn in /home/codespace/.local/lib/python3.10/site-packages (0.12.2)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 kB 4.3 MB/s eta 0:00:00
Collecting yfinance
  Downloading yfinance-0.2.18-py2.py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.3/60.3 kB 3.0 MB/s eta 0:00:00
Collecting yahoofinancials
  Downloading yahoofinancials-1.14.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.5/41.5 kB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools>=60.9.0 in /home/codespace/.local/lib/python3.10/site-packages (from ccxt) (67.7.2)
Requirement already satisfied: certifi>=2018.1.18 in /home/codespace/.local/lib/python3.10/site-packages (from ccxt) (2022.12.7)
Requirement already satisfied: requests>=2.18.4 in /home/codespace/.local/lib/python3.10/site-packages (from ccxt) (2.28.2)
Requirement already satisfied: cryptography>=2.6.1 in /home/codespace/.local/lib/python3.10/site-packages (from ccxt) (40.0.2)
Collecting aiohttp>=3.8 (from ccxt)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 27.2 MB/s eta 0:00:00:00:01
Collecting aiodns>=1.1.1 (from ccxt)
  Downloading aiodns-3.0.0-py3-none-any.whl (5.0 kB)
Collecting yarl>=1.7.2 (from ccxt)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 12.6 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (2.0.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/codespace/.local/lib/python3.10/site-packages (from seaborn) (3.7.1)
Collecting lxml (from pandas-datareader)
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 65.4 MB/s eta 0:00:00:00:0100:01
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pytz>=2022.5 in /home/codespace/.local/lib/python3.10/site-packages (from yfinance) (2023.3)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.3/115.3 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4>=4.11.1 in /home/codespace/.local/lib/python3.10/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 6.1 MB/s eta 0:00:00
Collecting pycares>=4.0.0 (from aiodns>=1.1.1->ccxt)
  Downloading pycares-4.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (288 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 288.7/288.7 kB 13.8 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /home/codespace/.local/lib/python3.10/site-packages (from aiohttp>=3.8->ccxt) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /home/codespace/.local/lib/python3.10/site-packages (from aiohttp>=3.8->ccxt) (3.1.0)
Collecting multidict<7.0,>=4.5 (from aiohttp>=3.8->ccxt)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 6.5 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp>=3.8->ccxt)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting frozenlist>=1.1.1 (from aiohttp>=3.8->ccxt)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 8.4 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp>=3.8->ccxt)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: soupsieve>1.2 in /home/codespace/.local/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /home/codespace/.local/lib/python3.10/site-packages (from cryptography>=2.6.1->ccxt) (1.15.1)
Requirement already satisfied: six>=1.9 in /home/codespace/.local/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.18.4->ccxt) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests>=2.18.4->ccxt) (1.26.15)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.6.1->ccxt) (2.21)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.14-py3-none-any.whl size=28627 sha256=c2166d05d25388ee2d68d30ce975b8873d3ce656100b427c3c3ce4a617d02281
  Stored in directory: /home/codespace/.cache/pip/wheels/32/a3/b6/b5b33187f2d42f095fecc236b957b46173fa09e78a106e309f
Successfully built yahoofinancials
Installing collected packages: multitasking, appdirs, multidict, lxml, html5lib, frozenlist, frozendict, async-timeout, yarl, yahoofinancials, pycares, aiosignal, yfinance, pandas-datareader, aiohttp, aiodns, ccxt
Successfully installed aiodns-3.0.0 aiohttp-3.8.4 aiosignal-1.3.1 appdirs-1.4.4 async-timeout-4.0.2 ccxt-3.1.2 frozendict-2.3.8 frozenlist-1.3.3 html5lib-1.1 lxml-4.9.2 multidict-6.0.4 multitasking-0.0.11 pandas-datareader-0.10.0 pycares-4.3.0 yahoofinancials-1.14 yarl-1.9.2 yfinance-0.2.18

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip

In [3]:
price_data = pd.read_csv('/workspaces/Rigor/Data/close_prices (2).csv')

In [4]:
price_data.head()

,Unnamed: 0,BTC-USD,ETH-USD,BNB-USD,XRP-USD,ADA-USD,MATIC-USD,SOL-USD,DOT-USD,SHIB-USD,APE-USD,dates
0,0,29374.152344,730.367554,37.905010,0.237444,0.175350,0.017812,1.842084,8.306819,0.0,0.192119,2021-01-01
1,1,32127.267578,774.534973,38.241592,0.221655,0.177423,0.019043,1.799275,9.208837,0.0,0.198762,2021-01-02
2,2,32782.023438,975.507690,41.148979,0.225848,0.204995,0.019975,2.161752,10.033283,0.0,0.256753,2021-01-03
3,3,31971.914062,1040.233032,40.926353,0.236677,0.224762,0.024614,2.485097,9.469611,0.0,0.257226,2021-01-04
4,4,33992.429688,1100.006104,41.734600,0.226750,0.258314,0.024467,2.157217,9.701656,0.0,0.256306,2021-01-05

In [5]:
price_data = price_data.drop(["Unnamed: 0"], axis = 1)
price_data.head()

,BTC-USD,ETH-USD,BNB-USD,XRP-USD,ADA-USD,MATIC-USD,SOL-USD,DOT-USD,SHIB-USD,APE-USD,dates
0,29374.152344,730.367554,37.905010,0.237444,0.175350,0.017812,1.842084,8.306819,0.0,0.192119,2021-01-01
1,32127.267578,774.534973,38.241592,0.221655,0.177423,0.019043,1.799275,9.208837,0.0,0.198762,2021-01-02
2,32782.023438,975.507690,41.148979,0.225848,0.204995,0.019975,2.161752,10.033283,0.0,0.256753,2021-01-03
3,31971.914062,1040.233032,40.926353,0.236677,0.224762,0.024614,2.485097,9.469611,0.0,0.257226,2021-01-04
4,33992.429688,1100.006104,41.734600,0.226750,0.258314,0.024467,2.157217,9.701656,0.0,0.256306,2021-01-05

In [8]:
coin_price_data = pd.DataFrame(price_data["ADA-USD"]) #df for particular coin price
#adding dates to the column
dates = pd.DataFrame(price_data["dates"])
coin_price_data = coin_price_data.join(dates)

In [9]:
coin_price_data

      ADA-USD       dates
0    0.175350  2021-01-01
1    0.177423  2021-01-02
2    0.204995  2021-01-03
3    0.224762  2021-01-04
4    0.258314  2021-01-05
..        ...         ...
726  0.248378  2022-12-28
727  0.244140  2022-12-29
728  0.245557  2022-12-30
729  0.246466  2022-12-31
730  0.249771  2023-01-01

[731 rows x 2 columns]

In [10]:
coin_price_data.rename(columns={'ADA-USD':'close'}, inplace = True)
coin_price_data['previous_close'] = coin_price_data['close'].shift(1) #filling a new column with price of previous day (open for current day)

# drop rows with NaN values
coin_price_data.dropna(inplace=True)

In [11]:
coin_price_data

        close       dates  previous_close
1    0.177423  2021-01-02        0.175350
2    0.204995  2021-01-03        0.177423
3    0.224762  2021-01-04        0.204995
4    0.258314  2021-01-05        0.224762
5    0.331898  2021-01-06        0.258314
..        ...         ...             ...
726  0.248378  2022-12-28        0.260370
727  0.244140  2022-12-29        0.248378
728  0.245557  2022-12-30        0.244140
729  0.246466  2022-12-31        0.245557
730  0.249771  2023-01-01        0.246466

[730 rows x 3 columns]

In [12]:
sentiment_score = pd.read_csv("/workspaces/Rigor/Data/final_sentiment_score_Cardano_101.csv") #importing sentiment data

In [13]:
sentiment_score

          Date     Score
0   2023-02-23  0.580403
1   2023-02-24  0.476089
2   2023-02-25  0.375661
3   2023-02-26  0.463329
4   2023-02-27  0.524374
..         ...       ...
75  2023-05-09  0.455316
76  2023-05-10  0.551775
77  2023-05-11  0.471343
78  2023-05-12  0.531551
79  2023-05-13  0.532639

[80 rows x 2 columns]

In [14]:
coin_final_data = coin_price_data.join(sentiment_score['Score'])

In [15]:
coin_final_data

        close       dates  previous_close     Score
1    0.177423  2021-01-02        0.175350  0.476089
2    0.204995  2021-01-03        0.177423  0.375661
3    0.224762  2021-01-04        0.204995  0.463329
4    0.258314  2021-01-05        0.224762  0.524374
5    0.331898  2021-01-06        0.258314  0.464877
..        ...         ...             ...       ...
726  0.248378  2022-12-28        0.260370       NaN
727  0.244140  2022-12-29        0.248378       NaN
728  0.245557  2022-12-30        0.244140       NaN
729  0.246466  2022-12-31        0.245557       NaN
730  0.249771  2023-01-01        0.246466       NaN

[730 rows x 4 columns]

In [158]:
coin_final_data.dropna()

           close       dates  previous_close     Score
1     774.534973  2021-01-02      730.367554  0.129833
2     975.507690  2021-01-03      774.534973  0.233337
3    1040.233032  2021-01-04      975.507690  0.490335
4    1100.006104  2021-01-05     1040.233032  0.503548
5    1207.112183  2021-01-06     1100.006104  0.567268
..           ...         ...             ...       ...
726  1189.986084  2022-12-28     1212.791626  0.526710
727  1201.595337  2022-12-29     1189.986084  0.458966
728  1199.232788  2022-12-30     1201.595337  0.517215
729  1196.771240  2022-12-31     1199.232788  0.495758
730  1200.964844  2023-01-01     1196.771240  0.509368

[730 rows x 4 columns]

In [159]:
coin_final_data.sort_values(by="dates")

           close       dates  previous_close     Score
1     774.534973  2021-01-02      730.367554  0.129833
2     975.507690  2021-01-03      774.534973  0.233337
3    1040.233032  2021-01-04      975.507690  0.490335
4    1100.006104  2021-01-05     1040.233032  0.503548
5    1207.112183  2021-01-06     1100.006104  0.567268
..           ...         ...             ...       ...
726  1189.986084  2022-12-28     1212.791626  0.526710
727  1201.595337  2022-12-29     1189.986084  0.458966
728  1199.232788  2022-12-30     1201.595337  0.517215
729  1196.771240  2022-12-31     1199.232788  0.495758
730  1200.964844  2023-01-01     1196.771240  0.509368

[730 rows x 4 columns]

In [160]:
coin_final_data.rename(columns={'Score':'sentiment'}, inplace = True)
coin_final_data = coin_final_data[['dates','previous_close','close','sentiment']]
coin_final_data.head()

        dates  previous_close        close  sentiment
1  2021-01-02      730.367554   774.534973   0.129833
2  2021-01-03      774.534973   975.507690   0.233337
3  2021-01-04      975.507690  1040.233032   0.490335
4  2021-01-05     1040.233032  1100.006104   0.503548
5  2021-01-06     1100.006104  1207.112183   0.567268

In [161]:
#Adding the volume feature in the data set

# Replace "BTC-USD" with the ticker symbol of the cryptocurrency you want to analyze
ticker = yf.Ticker("ETH-USD")

# Set the start and end date of the date range
d0 = date(2023, 1, 2)
d1 = date(2021, 1, 1)

# Get the historical market data for the date range
history = ticker.history(start=d1, end=d0)

# Extract the trading volume for each day
volume = history['Volume']

# Print the trading volume for each day
#print(volume)
volume = pd.DataFrame(volume)
volume

                                Volume
Date
2021-01-01 00:00:00+00:00  13652004358
2021-01-02 00:00:00+00:00  19740771179
2021-01-03 00:00:00+00:00  45200463368
2021-01-04 00:00:00+00:00  56945985763
2021-01-05 00:00:00+00:00  41535932781
...                                ...
2022-12-28 00:00:00+00:00   4991669631
2022-12-29 00:00:00+00:00   4132233940
2022-12-30 00:00:00+00:00   4055668253
2022-12-31 00:00:00+00:00   3018513333
2023-01-01 00:00:00+00:00   2399674550

[731 rows x 1 columns]

In [162]:
volume = volume.reset_index()
volume

                         Date       Volume
0   2021-01-01 00:00:00+00:00  13652004358
1   2021-01-02 00:00:00+00:00  19740771179
2   2021-01-03 00:00:00+00:00  45200463368
3   2021-01-04 00:00:00+00:00  56945985763
4   2021-01-05 00:00:00+00:00  41535932781
..                        ...          ...
726 2022-12-28 00:00:00+00:00   4991669631
727 2022-12-29 00:00:00+00:00   4132233940
728 2022-12-30 00:00:00+00:00   4055668253
729 2022-12-31 00:00:00+00:00   3018513333
730 2023-01-01 00:00:00+00:00   2399674550

[731 rows x 2 columns]

In [163]:
volume["Volume"].max()

84482912776

In [164]:
coin_price_data["previous_close"].max()

4812.08740234375

In [165]:
def get_digits(num):
    count = 0
    while(num > 0):
        num = num//10
        count = count + 1
    return count

def normalize(coin_list): #gets a single coin's prices
    max_num = coin_list.max()
    max_len_max_price = get_digits(max_num)
    return coin_list/10**max_len_max_price

#normalizing the volume
volume = volume['Volume']  
for i in range (0, len(volume)):
    volume[i] = normalize(volume[i])
coin_final_data['previous_volume'] = volume

#normalizing the price
close = coin_final_data["close"].values
for i in range (0, len(close)):
    close[i] = normalize(close[i])
coin_final_data['close_eth'] = close

#normalizing the previous price
previous_close = coin_final_data["previous_close"].values
for i in range (0,len(previous_close)):
    previous_close[i] = normalize(previous_close[i])
coin_final_data['previous_close_eth'] = previous_close

C:\Users\MB-PC\AppData\Local\Temp\ipykernel_17148\995673894.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume[i] = normalize(volume[i])

In [166]:
coin_final_data

,dates,previous_close,close,sentiment,previous_volume,close_eth,previous_close_eth
1,2021-01-02,0.730368,0.774535,0.129833,0.197408,0.774535,0.730368
2,2021-01-03,0.774535,0.975508,0.233337,0.452005,0.975508,0.774535
3,2021-01-04,0.975508,0.104023,0.490335,0.569460,0.104023,0.975508
4,2021-01-05,0.104023,0.110001,0.503548,0.415359,0.110001,0.104023
5,2021-01-06,0.110001,0.120711,0.567268,0.446999,0.120711,0.110001
...,...,...,...,...,...,...,...
726,2022-12-28,0.121279,0.118999,0.526710,0.499167,0.118999,0.121279
727,2022-12-29,0.118999,0.120160,0.458966,0.413223,0.120160,0.118999
728,2022-12-30,0.120160,0.119923,0.517215,0.405567,0.119923,0.120160
729,2022-12-31,0.119923,0.119677,0.495758,0.301851,0.119677,0.119923
730,2023-01-01,0.119677,0.120096,0.509368,0.239967,0.120096,0.119677

In [167]:
coin_final_data = coin_final_data.drop(columns=['close','previous_close'])

In [168]:
coin_final_data.rename(columns={'previous_volume':'pre_volu_eth'}, inplace = True)

In [169]:
coin_final_data.isna().sum()

dates                 0
sentiment             0
pre_volu_eth          0
close_eth             0
previous_close_eth    0
dtype: int64

In [171]:
coin_final_data.head()

        dates  sentiment  pre_volu_eth  close_eth  previous_close_eth
1  2021-01-02   0.129833      0.197408   0.774535            0.730368
2  2021-01-03   0.233337      0.452005   0.975508            0.774535
3  2021-01-04   0.490335      0.569460   0.104023            0.975508
4  2021-01-05   0.503548      0.415359   0.110001            0.104023
5  2021-01-06   0.567268      0.446999   0.120711            0.110001

In [172]:
coin_final_data.to_csv('ethereum_final_training_data2.csv') #end for ethereum data extraction and cleaning